@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.header {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-left: 20vw;
    line-height: 4vh;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4vw;
}

h2 {
    font-size: 3vw;
}

.hr {
    border-style: inset;
    border-color: darkslategray;
    border-width: 3px;
}

#linkedIn {
    color: black;
    margin-top: 3vh;
    text-decoration: none;
}

#linkedIn:hover {
    color: darkslategray;
}

#linkedIn:visited {
    color: darkblue;
}

