nav {
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    width: 15%;
    min-width: 130px;
    height: 100%;
    z-index: 10;
    align-items: center;
    background-color: black;
}

button {
    display: flex;
    align-items: center;
    width: 98%;
    border-style: inset;
    border-width: 3px;
}